html{
	margin: 0;
	padding: 0;
}
*{
	margin: 0px;
	padding: 0px;
}
body{
/*	background-color: rgba(255,171,0,0.5); */
	background-image: url(../img/background-1915346__340.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
}
nav {
	padding-bottom: 1%;
    padding-top: 1%;
    height: 0.1%;
	width: 100%;
	background-color: #ffbb00;
	margin-bottom: 4%;
	color: black;
}
#backbase{
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	height: 40%;
	padding-bottom: 5%;
}


input[type=text]:not(.browser-default){
	width: 70%;
	margin-top: 4%;
	border: 1px solid gray;
	background-color: white;
	margin-left: 15%;
}
.areaTareas h6{
	margin-left: 15%;
	margin-bottom: 5%;
}